In [20]:
# importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [21]:
# loading the dataset
grade = pd.read_csv('student_grades.csv')
grade

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [22]:
# getting top 5 rows of the dataset
grade.head()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [25]:
# as the seat number is different for every student so we don't need that data
# dropping that column
grade.drop(columns = ['Seat No.'], axis = 1, inplace = True)

In [26]:
# getting shape of dataset
grade.shape

(571, 42)

In [27]:
# finding the data types
grade.dtypes

PH-121        object
HS-101        object
CY-105        object
HS-105/12     object
MT-111        object
CS-105        object
CS-106        object
EL-102        object
EE-119        object
ME-107        object
CS-107        object
HS-205/20     object
MT-222        object
EE-222        object
MT-224        object
CS-210        object
CS-211        object
CS-203        object
CS-214        object
EE-217        object
CS-212        object
CS-215        object
MT-331        object
EF-303        object
HS-304        object
CS-301        object
CS-302        object
TC-383        object
MT-442        object
EL-332        object
CS-318        object
CS-306        object
CS-312        object
CS-317        object
CS-403        object
CS-421        object
CS-406        object
CS-414        object
CS-419        object
CS-423        object
CS-412        object
CGPA         float64
dtype: object

In [28]:
# finding null values
grade.isnull().sum()

PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

In [10]:
# here we can see in several places there is null values are presents and these are less as compare to entire dataset
# and to do the work we have to fill these values

In [11]:
# as the values are of object type so filling them with the mode of the column

In [29]:
# getting mode of column CY-105
grade['CY-105'].mode()

0    A
Name: CY-105, dtype: object

In [30]:
# filling CY-105 column with mode
grade['CY-105'].fillna(grade['CY-105'].mode()[0], inplace = True)

In [32]:
# getting other column modes
print(grade['HS-105/12'].mode())
print(grade['MT-111'].mode())
print(grade['CS-106'].mode())
print(grade['EL-102'].mode())
print(grade['EE-119'].mode())
print(grade['ME-107'].mode())
print(grade['CS-107'].mode())
print(grade['HS-205/20'].mode())
print(grade['MT-222'].mode())
print(grade['EE-222'].mode())
print(grade['MT-224'].mode())
print(grade['CS-210'].mode())
print(grade['CS-211'].mode())
print(grade['CS-203'].mode())
print(grade['CS-214'].mode())
print(grade['EE-217'].mode())
print(grade['CS-212'].mode())
print(grade['CS-215'].mode())
print(grade['MT-331'].mode())
print(grade['EF-303'].mode())
print(grade['HS-304'].mode())
print(grade['CS-301'].mode())
print(grade['CS-302'].mode())
print(grade['TC-383'].mode())
print(grade['MT-442'].mode())
print(grade['EL-332'].mode())
print(grade['CS-318'].mode())
print(grade['CS-306'].mode())
print(grade['CS-312'].mode())
print(grade['CS-317'].mode())
print(grade['CS-403'].mode())
print(grade['CS-421'].mode())
print(grade['CS-406'].mode())
print(grade['CS-414'].mode())
print(grade['CS-419'].mode())
print(grade['CS-423'].mode())
print(grade['CS-412'].mode())

0    A
Name: HS-105/12, dtype: object
0    A-
Name: MT-111, dtype: object
0    A-
Name: CS-106, dtype: object
0    A-
Name: EL-102, dtype: object
0    A-
Name: EE-119, dtype: object
0    A-
Name: ME-107, dtype: object
0    A
Name: CS-107, dtype: object
0    A-
Name: HS-205/20, dtype: object
0    A-
Name: MT-222, dtype: object
0    A
Name: EE-222, dtype: object
0    A-
Name: MT-224, dtype: object
0    A-
Name: CS-210, dtype: object
0    A-
Name: CS-211, dtype: object
0    A-
Name: CS-203, dtype: object
0    C
Name: CS-214, dtype: object
0    A-
Name: EE-217, dtype: object
0    A-
Name: CS-212, dtype: object
0    A-
Name: CS-215, dtype: object
0    A
Name: MT-331, dtype: object
0    B
Name: EF-303, dtype: object
0    A-
Name: HS-304, dtype: object
0    A-
Name: CS-301, dtype: object
0    A-
Name: CS-302, dtype: object
0    A
Name: TC-383, dtype: object
0    A-
Name: MT-442, dtype: object
0    A-
Name: EL-332, dtype: object
0    A-
Name: CS-318, dtype: object
0    A-
Name: CS-306, dtype: object
0    A+
Name: CS-312, dtype: object
0    B-
Name: CS-317, dtype: object
0    A
Name: CS-403, dtype: object
0    B
Name: CS-421, dtype: object
0    A-
Name: CS-406, dtype: object
0    A
Name: CS-414, dtype: object
0    A-
Name: CS-419, dtype: object
0    A-
Name: CS-423, dtype: object
0    A-
Name: CS-412, dtype: object

In [33]:
# filling the other columns null values
grade['HS-105/12'].fillna(grade['HS-105/12'].mode()[0], inplace = True)
grade['MT-111'].fillna(grade['MT-111'].mode()[0], inplace = True)
grade['CS-106'].fillna(grade['CS-106'].mode()[0], inplace = True)
grade['EL-102'].fillna(grade['EL-102'].mode()[0], inplace = True)
grade['EE-119'].fillna(grade['EE-119'].mode()[0], inplace = True)
grade['ME-107'].fillna(grade['ME-107'].mode()[0], inplace = True)
grade['CS-107'].fillna(grade['CS-107'].mode()[0], inplace = True)
grade['HS-205/20'].fillna(grade['HS-205/20'].mode()[0], inplace = True)
grade['MT-222'].fillna(grade['MT-222'].mode()[0], inplace = True)
grade['EE-222'].fillna(grade['EE-222'].mode()[0], inplace = True)
grade['MT-224'].fillna(grade['MT-224'].mode()[0], inplace = True)
grade['CS-210'].fillna(grade['CS-210'].mode()[0], inplace = True)
grade['CS-211'].fillna(grade['CS-211'].mode()[0], inplace = True)
grade['CS-203'].fillna(grade['CS-203'].mode()[0], inplace = True)
grade['CS-214'].fillna(grade['CS-214'].mode()[0], inplace = True)
grade['EE-217'].fillna(grade['EE-217'].mode()[0], inplace = True)
grade['CS-212'].fillna(grade['CS-212'].mode()[0], inplace = True)
grade['CS-215'].fillna(grade['CS-215'].mode()[0], inplace = True)
grade['MT-331'].fillna(grade['MT-331'].mode()[0], inplace = True)
grade['EF-303'].fillna(grade['EF-303'].mode()[0], inplace = True)
grade['HS-304'].fillna(grade['HS-304'].mode()[0], inplace = True)
grade['CS-301'].fillna(grade['CS-301'].mode()[0], inplace = True)
grade['CS-302'].fillna(grade['CS-302'].mode()[0], inplace = True)
grade['TC-383'].fillna(grade['TC-383'].mode()[0], inplace = True)
grade['MT-442'].fillna(grade['MT-442'].mode()[0], inplace = True)
grade['EL-332'].fillna(grade['EL-332'].mode()[0], inplace = True)
grade['CS-318'].fillna(grade['CS-318'].mode()[0], inplace = True)
grade['CS-306'].fillna(grade['CS-306'].mode()[0], inplace = True)
grade['CS-312'].fillna(grade['CS-312'].mode()[0], inplace = True)
grade['CS-317'].fillna(grade['CS-317'].mode()[0], inplace = True)
grade['CS-403'].fillna(grade['CS-403'].mode()[0], inplace = True)
grade['CS-421'].fillna(grade['CS-421'].mode()[0], inplace = True)
grade['CS-406'].fillna(grade['CS-406'].mode()[0], inplace = True)
grade['CS-414'].fillna(grade['CS-414'].mode()[0], inplace = True)
grade['CS-419'].fillna(grade['CS-419'].mode()[0], inplace = True)
grade['CS-423'].fillna(grade['CS-423'].mode()[0], inplace = True)
grade['CS-412'].fillna(grade['CS-412'].mode()[0], inplace = True)

In [34]:
# checking the action
grade.isnull().sum()

PH-121       0
HS-101       0
CY-105       0
HS-105/12    0
MT-111       0
CS-105       0
CS-106       0
EL-102       0
EE-119       0
ME-107       0
CS-107       0
HS-205/20    0
MT-222       0
EE-222       0
MT-224       0
CS-210       0
CS-211       0
CS-203       0
CS-214       0
EE-217       0
CS-212       0
CS-215       0
MT-331       0
EF-303       0
HS-304       0
CS-301       0
CS-302       0
TC-383       0
MT-442       0
EL-332       0
CS-318       0
CS-306       0
CS-312       0
CS-317       0
CS-403       0
CS-421       0
CS-406       0
CS-414       0
CS-419       0
CS-423       0
CS-412       0
CGPA         0
dtype: int64

In [35]:
# Here now all the null values are filled